$primary:#3292A6;


body{
    margin-top: 90px;
}


.navbar{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 3px $primary;
    
    .nav-item{
        
        padding-left: 10px;
        
        .nav-link{
            font-size: 22px;
            color: #252525;
        }
        .nav-link:hover{
            color: $primary;
        }
    }
    
    .nav-item:first{
        padding-left: 0;
    }
    
    
}




#home {
    background: url('../img/home.jpg') no-repeat center;
    background-size: cover;
    min-height: 80vh;
    
    .overlay{
        background: rgba(50, 146, 166, 0.8);
        min-height: 80vh;
    }
    
    .home-info{
        margin-top: 120px;
        margin-bottom: 50px;
    }
}

#subscribe{
    background: #252525
}

#author{
    .fa{
        font-size: 25px;
        
    }
    
    img{
        margin-top: -50px;
    }
    .card:hover{
        background: $primary;
        color: #fff;
        
        .fa{
            color: #fff;
        }
    }
}










@media (max-width:576px){
    #home{
        h1{
            font-size: 60px;
        }}
}
